.body {
    flex-grow: 1;
    background-color: aliceblue;
    display: flex;
    overflow: auto;
    max-height: 100%;
    flex-grow: 1;
    width: 500px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between items */
}

.addButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    margin-left: 5px;
}

.profileItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
  }

.in_progress_container {
    position: relative;
    width: 100%;
}

.blockinfo{
    position : absolute;
    border: black 5px dashed;
}

.in-progress-body {
    position: relative;
    background-color: white;
    box-shadow: 0 2px 3px;
}


.cancelButton{
    background-color: #dddddd;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.profile {
    left: -25px;
    position: absolute;
    height: 50px;
    width: 50px;
    object-fit:cover;
    border-radius: 50%;
    cursor: pointer;

}

.name {
    white-space: nowrap;
}
