.body{
    background-color: aliceblue;
    height: 400px;
}


.blockinfo{
    position : absolute;
    border: black 5px dashed;
}

/* 
.cPost {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* .content{
    display: flex;
} */

