.hh {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 2px 3px;
    z-index: 0;
}

.header1 {
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    box-shadow: 0 2px 3px;
    z-index: 1;
    
}