.errMessage{
    color:darkred;
}

.formular {
    margin-top: 100px;
    margin-bottom: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba( 255,255,255,0.2);
    backdrop-filter: blur(25px);
    padding: 20px;
    height: 300px;
    border-radius: 15px;
    pointer-events:fill;


}

.hh{
    scroll-snap-align:center;

}

.rememberCheckbox {
    background: none;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.background {
    display: flex;
    position: fixed;
    justify-self: center;
    object-fit:cover;
    padding: 0;
    min-width: 100%;
    z-index: -1;
}


.title-p1 {
    margin-top: 100px;
}



.title-p2 {
    font-size: 50px;
    font-family:  'Orienta', sans-serif; font-weight: normal; text-align: center; 
}


.site-description {
    left:0;
    right:0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px 100px 0 0;
    background-color: rgb(32, 32, 32);
    flex-direction: column;
    scroll-snap-align: end;
    height: 1000px;
}


.page {
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow: auto;
    max-height: 100%;
}


.page::-webkit-scrollbar {
    display: none;
}


.snapper {
    opacity: 1;
}

.copyright, .paragraphe {
    text-align: center;
    padding: 30px 40px 0 40px;
    font-size: x-small;
    color: aliceblue;
}


.details {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
    position: relative;
    
}



.templates-holder{
    display: flex;
    justify-content: center;
}

.templates-holder > div {
    width: 350px;
    height: 500px;
    border-radius: 30px;
}

.template-1 {
    transform: rotate(-30deg) translateY(60px);
    background-color: aquamarine;
    z-index: 1;

}


.template-2 {
    background-color:antiquewhite;
    z-index: 2;

}


.template-3 {
    background-color:blueviolet;
    transform: rotate(30deg) translateY(60px);
    z-index: 3;
}